<div id="cardsSection">
    <h2>{{cardsSectionTitle}}</h2>
    <div>{{cardsSectionSubtitle}}</div>
</div>

<div id="cards">
    <div class="card">
        <img src="{{card1Image}}" class="card-img" alt="card 1 image" />
        <div class="card-title">{{card1Title}}</div>
        <div class="card-txt">{{card1Txt}}</div>
    </div>
    <div class="card">
        <img src="{{card2Image}}" class="card-img" alt="card 2 image" />
        <div class="card-title">{{card2Title}}</div>
        <div class="card-txt">{{card2Txt}}</div>
    </div>
    <div class="card">
        <img src="{{card3Image}}" class="card-img" alt="card 3 image" />
        <div class="card-title">{{card3Title}}</div>
        <div class="card-txt">{{card3Txt}}</div>
    </div>
</div>