<div id="footer">
    <div id="left">
        <div class="title">
            About COD
        </div>
        <div id="about">
            COD is a stack based concatinative programming language, It has an untraditional paradigm yet uses abstraction and other features to try to be as practical as possible.

            Give it a try, have fun, and leave feedback about your experience
        </div>
    </div>
    <div id="right">
        <div class="title">
            Useful links
        </div>

        <a href="https://github.com/justlucdewit/cod">Github Repo</a>
        <a href="https://github.com/justlucdewit/cod/releases">Download Page</a>
        <a href="https://github.com/justlucdewit/cod/issues/new">Submit Issue</a>
        <a href="https://github.com/justlucdewit/cod/blob/master/language.md">Documentation</a>
    </div>
</div>