<head>
    <title>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="{{favicon}}">
    <link rel="stylesheet" href="{{css}}">
    <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic%7CRoboto:300,regular,500%7CFira+Code:regular"
        media="all"
    >
    <meta content="{{embedTitle}}" property="og:title" />
    <meta content="{{embedDescription}}" property="og:description" />
    <meta content="{{embedURL}}" property="og:url" />
    <meta content="{{embedImage}}}" property="og:image" />
    <meta content="{{embedTheme}}" data-react-helmet="true" name="theme-color" />
    <meta name="twitter:card" content="summary_large_image">
    
    <!-- Do script assets/script.js after page is loaded -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/13.0.1/markdown-it.min.js"></script>
    <script src="{{js}}" defer></script>
    
</head>