<div id="poster">
    <div style="background-image: linear-gradient(180deg, rgba(46, 157, 255, 0.5), rgba(46, 157, 255, 0.22)), url('{{posterImg}}');" id="poster-img">
        <h1 id="poster-title">{{posterTitle}}</h1>
        <img src="{{posterLogo}}" alt="Poster logo" id="poster-logo">
        <div>
            <a href="./download.html" id="poster-btn-1">
                {{btn1}}
            </a>

            <button id="poster-btn-2" onclick="goToDocs()">
                {{btn2}}
            </button>
        </div>
    </div>
</div>